<div class="component-body">
    <app-topbar class="w-100"></app-topbar>
    <div class="item-div d-flex flex-column align-items-center justify-content-center">
        <div class="item-title d-flex align-items-center justify-content-center">Item information</div>
        <form #itemForm="ngForm" class="item-form d-flex flex-column" (submit)="onSubmit($event)">
            <div class="input-box-div d-flex align-items-center">
                <div class="form-label categ-label mr-6 unselectable" (click)="test()">Category :</div>
                <select #catInput class="form-input no-mar-bot flex-grow-1" id="category" required [(ngModel)]="item.categoryN" name="category" #category="ngModel">
                    <option value="" disabled>Select a Category</option>
                    <option *ngFor="let opt of categories" [value]="opt.id">{{opt.name}}</option>
                 </select>
            </div>
            <div class="form-label m-b-8 unselectable">Name :</div>
            <input type="text" placeholder="Name" class="form-input" id="name" required [(ngModel)]="item.name" name="name" #name="ngModel">
            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                <div *ngIf="!item.name">
                    Name is required
                </div>
                <div *ngIf="checkName()">
                    Name must be alphanumeric
                </div>
            </div>
            <div class="form-label m-b-8 unselectable">Price :</div>
            <input type="number" placeholder="Price" class="form-input" id="price" required [(ngModel)]="item.price" name="price" #price="ngModel">
            <div [hidden]="price.valid || price.pristine" class="alert alert-danger">
                <div *ngIf="!item.price">
                    Price is required
                </div>
                <div *ngIf="checkPrice()">
                    Price must be positive
                </div>
            </div>
            <div class="form-label m-b-8 unselectable">Description :</div>
            <input type="text" placeholder="Description" class="form-input" id="description" required [(ngModel)]="item.description" name="description" #description="ngModel">
            <div [hidden]="description.valid || description.pristine" class="alert alert-danger">
                Description is required
            </div>
            <div class="input-box-div d-flex align-items-center">
                <div class="form-label mr-6 unselectable">Used :</div>
                <input type="checkbox" class="cbox" [(ngModel)]="item.preOwned" name="cbox" #cbox="ngModel">
            </div>
            <div class="form-label m-b-8 unselectable">Location :</div>
            <input type="text" placeholder="Location" class="form-input" id="location" required [(ngModel)]="item.location" name="location" #location="ngModel">
            <div [hidden]="location.valid || location.pristine" class="alert alert-danger">
                <div *ngIf="!item.location">
                    Location is required
                </div>
                <div *ngIf="checkLoc()">
                    Location must be atleast 3 characters long
                </div>
            </div>
            <input id="file-upload" type="file" (change)="imgUpload($event)" required>
            <div  ></div>
            <button type="submit" class="btn btn-outline-success align-self-end next-btn" [disabled]="!itemForm.form.valid">Post</button>
        </form>
    </div>
</div>